/* @tailwind base; */
@tailwind components;
@tailwind utilities;

/** copy from reddit =)) */
.more {
  -webkit-mask-image: linear-gradient(180deg,#000 60%,transparent);
  mask-image: linear-gradient(180deg,#000 60%,transparent);
  overflow: hidden;
  padding: 5px 8px 10px;
}

.select2 {
  width: 100% !important;
}

.ck-editor__editable_inline {
  min-height: 200px;
}
